body {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 230px;
}

/* Header side */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: #64001d;
}
.header p {
    font-family: inherit;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    margin: 0;
}
/* Icono de ! */
.info {
    width: 25px;
    height: 25px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50%;
}

/*Contenedor del tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
}
/*Ventana de texto oculta*/
.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -115px;
    opacity: 0;
    transition: opacity 0.3s;
}
/*indicador de la ventada */
.tooltip .tooltiptext::before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 20%;
    transform: rotate(180deg);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.container {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    transition: all .2s ease-in-out;
    margin: 7px 0;
}


/*Botones -> Calificar - Limpiar*/
.container-btn {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 10px 0;
}

.btn {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 7px;
    background-color: #272727;
    border-radius: 5px;
}

/*Efecto al ser precionado los botones*/
.btn:active {
    transform: scale(0.95);
}

/* Footer*/
footer p {
    margin: 0;
    text-align: center;
    padding: 7px 0 9px 0;
    color: #fff;
    background-color: #64001d;

    a {
        display: inline-block;
        margin-left: 8px;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
    }
}